@import url(//db.onlinewebfonts.com/c/800e985f75a5a56c2f7b4be502d286de?family=Burbank+Big+Condensed);

*{
  color: white;
  font-family: "Burbank Big Condensed";
  box-sizing: border-box;
}

.mynav{
  font-size: 1.5rem;
}

h1{
  text-align: center;
}

body{
  background-color: #191919;
}

/*   Shop Page Item Cards Styling   */
.uncommon {
  border: 4px;
  border-color: rgb(108, 209, 130);
  background: rgb(124,218,47);
  background: radial-gradient(circle, rgba(124,218,47,1) 19%, rgba(2,175,0,1) 100%);
  width: 15rem;
  margin: 1rem;
}

.rare {
  border: 4px;
  border-color: rgb(79, 184, 253);
  font-size: 2rem;
  background: rgb(47,210,218);
  background: radial-gradient(circle, rgba(47,210,218,1) 19%, rgba(0,116,175,1) 100%);
  width: 15rem;
  margin: 1rem;
}

.epic {
  border: 4px;
  border-color: rgb(195,106,255);
  background: rgb(167,91,226);
  background: radial-gradient(circle, rgba(167,91,226,1) 19%, rgba(81,44,136,1) 100%);
  width: 15rem;
  margin: 1rem;
}

.legendary {
  border: 4px;
  border-color: rgb(235, 137, 72);
  background: rgb(255,209,95);
  background: radial-gradient(circle, rgba(255,209,95,1) 19%, rgba(242,119,0,1) 100%);
  width: 15rem;
  margin: 1rem;
}

.standard {
  border: 10px;
  border-color: rgb(124, 124, 124);
  background: rgb(111,111,111);
  background: radial-gradient(circle, rgba(111,111,111,1) 19%, rgba(40,40,40,1) 100%);
  width: 15rem;
  margin: 1rem;
}

.cardfooter{
  text-align: center;
  font-size: 2rem;
  color: white;
}

.stretched-link{
  color: white;
}

.stretched-link:hover{
  color: #F1EE8A;
}


/* Store Page Styling */

.store-heading-one{ 
  background-color: rgb(253, 247, 62);
  color: black;
  padding: .25rem;
  font-size: 1.75rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  clip-path:polygon(2% 0,100% 0,98% 100%,0 100%);

 }

.store-heading-two{ 
  background-color: #F1EE8A;
  color: black;
  padding: .25rem;
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
 }

 .jumbotron{
   background-color: #191919;
   text-align: center;
   margin-left: 12.5rem;
   padding-right: 12.5rem;
 }

 /* Single Item Page */
 
 .itemcard{
   background-color: #282828;
 }

 /* Single Item Background Color */

.single-uncommon {
  background: rgb(124,218,47);
  background: radial-gradient(circle, rgba(124,218,47,1) 19%, rgba(2,175,0,1) 100%);
}

.single-epic {
  background: rgb(167,91,226);
  background: radial-gradient(circle, rgba(167,91,226,1) 19%, rgba(81,44,136,1) 100%);
}

.single-rare {
  background: rgb(47,210,218);
  background: radial-gradient(circle, rgba(47,210,218,1) 19%, rgba(0,116,175,1) 100%);

}

.single-legendary {
  background: rgb(255,209,95);
  background: radial-gradient(circle, rgba(255,209,95,1) 19%, rgba(242,119,0,1) 100%);
}

.single-standard {
  background: rgb(111,111,111);
  background: radial-gradient(circle, rgba(111,111,111,1) 19%, rgba(40,40,40,1) 100%);
}


